@use "sass:meta";

@import "quill/dist/quill.snow.css";
@import "quill/dist/quill.bubble.css";

@import "$lib/github.css";
.dark {
	@include meta.load-css("$lib/github-dark.css");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	@apply text-3xl font-bold;
}

h2 {
	@apply text-2xl font-bold;
}

h3 {
	@apply text-xl font-bold;
}

code {
	@apply bg-gray-200 rounded-3xl p-5;
	overflow-wrap: break-word;
	max-width: 90vw;
}

tr {
	border-top: 1px dotted black;
}

button {
	@apply bg-slate-200 px-5 py-1 rounded hover:bg-gray-400 m-4 transition duration-300;
}

.ql-bubble .ql-editor .ql-code-block-container {
	background-color: #f0f0f0;
	color: inherit;
}

.dark .ql-bubble .ql-editor .ql-code-block-container {
	background-color: #23241f;
}

@layer base {
	.content {
		@apply max-w-prose min-h-screen  mx-auto;
		padding-top: 10vh;
		padding-bottom: 10vh;
	}

	.link {
		@apply text-blue-800 dark:text-blue-600 active:text-emerald-600 dark:active:text-emerald-600 hover:text-indigo-800 dark:hover:text-indigo-600 hover:scale-125 transition-all;
		/* visited:text-purple-900 truncate */
	}

	.header {
		@apply text-2xl font-bold text-center;
	}
}
